@font-face {
    font-family: AdvancedPixel;
    src: url(advanced_pixel-7.woff);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Arial";
}

img {
    image-rendering: pixelated;
}

.intro {
    height: 80%;
    width: 100%;
    margin: auto;
    padding-top: 10%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    width: 100%;

}

.inner {
    margin: 0 auto;
    text-align: center;
    vertical-align: top;

}

.bottom {
    display: block;
}
.bottom a {
    display: inline;
    padding: 4px;
    text-align: center;
}

.bottom img {
    width: 81px;
    height: 81px;
}

.inner h1 {
    color: #353535;
    font-size: 200%;
    /* border: 1px solid black; */

}

a:link, a:visited {
    color: #353535;
    text-decoration: none;
}



.content {
    margin-left: 10vw;
    margin-right: 10vw;
}

@media screen and (min-width: 600px) {
    .block{
        width: 25vw;
    }

    .img > img {
        width: 10vw;
    }

    .name {
        height: 10vw;
        width: 15vw;
        font-size: 3vw;
    }

    .bottom img {
        width: 5%;
        height: auto;
    }
}

body {
    background: url(../pildid/taustad/taust.gif);
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .block {
        width: 80vw;
    }
    
    .img > img {
        width: 30vw;
    }

    .name {
        height: 30vw;
        width: 75vw;
        font-size: 11vw;
    }
}
.block {
    overflow: auto;
    display: inline-block;
    background-color: white;
    font-weight: bold;
    margin-left: -5px;
}

.img > img {
    float: left;
    border-color: #353535;
}

.name {
    display: table-cell;
    vertical-align: middle;
}