html, body {
    margin: auto;
    padding: 0;
    height: auto;
    width: 100%;
    /*background: url("vihm.png");/*url("taust.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: repeat;*/
}

.Tanel {
    background: url("../pildid/taustad/vihm.png");/*url("taust.jpg");*/
    /*background-size: cover;*/
    background-repeat: repeat;
    height: auto;
}
.Jaanus {
    background: url("../pildid/taustad/täht_heledam.png");/*url("taust.jpg");*/
    /*background-size: cover;*/
    background-repeat: repeat;
}
.Renee {
    background: url("../pildid/taustad/ristikhein.png");/*url("taust.jpg");*/
    /*background-size: cover;*/
    background-repeat: repeat;
}

.main > div {
    padding: 30px;
    padding-top: 50px;
    font-family: Arial;
}

p img {
    border-width: 4px;
    border-color: #353535;
    border-style: solid;
    height: auto;
    margin: 8px;
}

img {
    image-rendering: pixelated;
}

.main {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

.nupud li {
    display: inline;
}

h1 {
    text-align: center;
}

p {
    color: #353535;
    font-size: 23px;
}