.navmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navmenu li {
    display: inline;
}

.navmenu a{
    display:inline-flex;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    margin-right: -4px;
    background: linear-gradient(
                180deg,
                #353535,
                #353535 15%,
                white 15%,
                white 20%,
                #353535 20%
                );
    height: 90%;
    text-decoration: none;
    color: #ffffff;
    font-size: xx-large;
    font-family: Verdana;
}

.navmenu #Jaanus:hover {
    background: linear-gradient(
            180deg,
            red,
            red 15%,
            white 15%,
            white 20%,
            #353535 20%
    );
}

.navmenu #Renee:hover {
    background: linear-gradient(
            180deg,
            lawngreen,
            lawngreen 15%,
            white 15%,
            white 20%,
            #353535 20%
    );
}

.navmenu #Tanel:hover {
    background: linear-gradient(
            180deg,
            blue,
            blue 15%,
            white 15%,
            white 20%,
            #353535 20%
    );
}